<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>LandingPage</title>
  <script defer src="./js/popUp.js"></script>
  <link rel="stylesheet" href="./css/popup.css">
</head>
<body>
  <section class="lp-Line1">
  <article>
  <h1>Project 1</h1>
  <img src="../images/info1.jpg" />
  <div class="testing">
  <button><a href="/forniteHome">Open project </a></button>
  </div> 
  </article>
  <article>
  <h1>Project 2</h1>
  <img src="../images/info2.jpg" />
  <div class="testing">
  <button data-modal-target="#modal">Open project</button>
  </div>
  <div class="modal" id="modal">
    <div class="modal-header">
      <div class="title">You shall not pass</div>
      <button data-close-button class="close-button">&times;</button>
    </div>
    <div class="modal-body">
      You dont have permission to open this project
    </div>
  </div>
  <div id="overlay"></div>
  </article>
  </section>
  <section class="lp-Line1">
  <article>
  <h1>Project 3</h1>
  <img src="../images/info2.jpg" />
  <div class="testing">
  <button data-modal-target="#modal">Open project</button>
  </div>
  <div class="modal" id="modal">
    <div class="modal-header">
      <button data-close-button class="close-button">&times;</button>
    </div>
  </div>
  <div id="overlay"></div>
</article>
<article>
  <h1>Project 4</h1>
  <img src="../images/info1.jpg" />
  <div class="testing">
  <button data-modal-target="#modal">Open project</button>
  </div>
  <div class="modal" id="modal">
    <div class="modal-header">
      <button data-close-button class="close-button">&times;</button>
    </div>
  </div>
  <div id="overlay"></div>
</article>
</section>
<section class="lp-Line1">
  <article>
  <h1>Project 5</h1>
  <img src="../images/info1.jpg" />
  <div class="testing">
  <button data-modal-target="#modal">Open project</button>
  </div>
  <div class="modal" id="modal">
    <div class="modal-header">
      <button data-close-button class="close-button">&times;</button>
    </div>
  </div>
  <div id="overlay"></div>
</article>
<article>
  <h1>Project 6</h1>
  <img src="../images/info1.jpg" />
  <div class="testing">
  <button data-modal-target="#modal">Open project</button>
  </div>
  <div class="modal" id="modal">
    <div class="modal-header">
      <button data-close-button class="close-button">&times;</button>
    </div>
  </div>
  <div id="overlay"></div>
</article>
</section>
</body>
</html>